<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="well-edit.css"/>

    <title>Тест менюшки</title>
</head>
<body>


<!doctype html>
<html lang="en">
<head>
    <title>ГеоКИСА</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS and other links-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/a97adc297b.js"></script>



    <!-- Мои материалы -->
    <link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
<!--Header-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">ГеоКИСА</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav" th:each="menu : ${menulist}">
            <a class="nav-item nav-link" href="@{${menu.link}}" th:text="${menu.name}"><span class="sr-only">(current)</span></a> <!--тут я не понял в конце че написанно-->
        </div>

        <ul class="navbar-nav d-none d-lg-flex ml-auto"> <!---->
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a> <!-- username -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                    <a class="dropdown-item " href="#" title="Профиль">Профиль</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item " href="#" title="Выход"> Выход</a>
                </div>
            </li>
        </ul>

        <ul class="navbar-nav d-lg-none">
            <li class="nav-item btn-outline-dark"><a class="nav-item nav-link" href="#" title="Профиль">Профиль</a></li>
            <li class="nav-item btn-outline-dark"><a class="nav-item nav-link" href="#" title="Профиль">Выход <i class="far fa-share-square"></i></a></li>
        </ul>
    </div>
</nav>

<form action="///" th:object="${menulist}"
      method="post" enctype="multipart/form-data">

<div class="content">

    <table>
    <tr th:each="menu : ${menulist}">
            <td th:text="${menu.name}"/>
            <td><a th:href="@{${menu.link}}">Перейти</a></td>

        </tr>
    </table>
</div>

</div>

</form>
</body>
</html>