<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Документы</title>
</head>
<body>

<form action="/filter" th:object="${items}"
      method="get" enctype="multipart/form-data">

    <div class="content">

        <h4 th:text="${header}" name="header" th:name="header"></h4>
        <input type="text" name="docType" th:name="docType" th:value="${docType}">

        <div>

            <button name="state" class="btn btn-outline-info btn-sm" aria-pressed="true" type="submit">Все</button>
            <button name="state" class="btn btn-outline-info btn-sm" aria-pressed="true" type="submit" value="0">Непросмотренные</button>
            <button name="state" class="btn btn-outline-info btn-sm" aria-pressed="true" type="submit" value="-1">Нерегистрируемые</button>
            <button name="state" class="btn btn-outline-info btn-sm" aria-pressed="true" type="submit" value="1">Зарегистрированные</button>

        </div>


        <div>
            <table id="inspTable" class="table table-hover">
                <thead class="thead-dark">

                <tr>
                    <th>ID документа</th>
                    <th>ID пункта наблюдения</th>
                    <th>Дата документа</th>
                    <th>Статус документа</th>
                    <th>Регистрационный номер</th>
                    <th>Дата регистрации</th>
                    <th></th>

                </tr>
                </thead>

                <tbody>
                <tr th:attr="data-document-id=${item.id}" th:each="item : ${items}">
                    <td th:text="${item.id}"/>
                    <td th:text="${item.observationPointId}"/>
                    <td th:text="${item.date}"/>
                    <td th:text="${item.regStatusText}"/>
                    <td th:text="${item.regNumber}"/>
                    <td th:text="${item.dateProcessing}"/>
                    <td><a th:href="@{'/registration/drawwells-inspection/' + ${item.id}}">Перейти</a></td>

                </tr>

                </tbody>
            </table>
        </div>

    </div>

</form>
</body>
</html>