.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 450px
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

select {
    height: 35px;
}

select:disabled{
    background-color: #80C8A0;
}

.disabled{
    background-color: #80C8A0;
}