<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav th:fragment="sidebar" id="sidebar">
        <div class="sidebar-header">
            <h3>ГеоКИСА</h3>
        </div>
    <ul class="list-unstyled components">

        <!-- ПЕРВИЧНАЯ ДОКУМЕНТАЦИЯ -->
        <li> <!-- <li class="active"> -->
            <a href="#PrimarySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Первичная документация</a>
            <ul class="collapse list-unstyled" id="PrimarySubmenu">

                <li>
                    <a href="#PrimaryGWSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    Подземные воды</a>
                    <ul class="collapse list-unstyled" id="PrimaryGWSubmenu">
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=WELL_INSPECTION&state=0">Акты инспекции скважин</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=SPRING_INSPECTION&state=0">Акты обследования родников</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=DRAWWELL_INSPECTION&state=0">Акты обследования колодцев</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=GW_OBSERVATION_JOURNAL&state=0">Журналы наблюдений за уровнем и температурой ПВ</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=GW_ANALYSIS_PROTOCOL&state=0">Протоколы анализа проб воды</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=INTAKE_INSPECTION&state=0">Акты обследований ВЗУ</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=GW_JOURNAL&state=0">Журналы опытно-фильтрационных работ</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=GW_WELL_PUMPING_ACT&state=0">Акты прокачки скважин</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=RADIOLOGY_PROTOCOL&state=0">Протоколы анализа проб воды на радиоактивность</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#PrimaryEGPSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    ЭГП</a>
                    <ul class="collapse list-unstyled" id="PrimaryEGPSubmenu">
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=EGP_SURVEY_ACT&state=0">Акты визуального обследования участков ЭГП</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/registrations?docType=RECON_SURVEY_ACT&state=0">Акты рекогносцировочного обследования</a>
                </li>

                <li>
                    <a href="#PrimaryWellDocSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    Документация по скважинам</a>
                    <ul class="collapse list-unstyled" id="PrimaryWellDocSubmenu">
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=RECCARD&state=0">Учётные карточки</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=PASSPORT&state=0">Паспорта</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=DESCRIPTION&state=0">Геологические описания</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=PLUGGING_ACT&state=0">Акты тампонажа скважин</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/registrations?docType=OTHER_PD&state=0">Прочая документация</a>
                </li>
            </ul>
        </li>

        <!-- ЛИЦЕНЗИИ -->
        <li>
            <a href="#LicenseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Лицензии</a>
            <ul class="collapse list-unstyled" id="LicenseSubmenu">

                <li>
                    <a href="/registrations?docType=LICENSE&state=0">Лицензии</a>
                </li>

                <li>
                    <a href="#LicenseReportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Отчётность</a>
                    <ul class="collapse list-unstyled" id="LicenseReportsSubmenu">
                        <li>
                            <a class="third-level-menu" href="/registrations?docType=LICENSE_REPORT&state=0">Отчётность недропользователей</a>
                        </li>
                        <li>
                            <a class="third-level-menu" href="/chem-templates">Шаблоны хим. анализа</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="/registrations?docType=PROTOCOL&state=0">Протоколы ОЗ</a>
        </li>
        <li>
            <a href="/registrations?docType=CONCLUSION&state=0">Заключения</a>
        </li>
        <li>
            <a href="/registrations?docType=REPORTS_AND_MAPS&state=0">Отчёты и карты</a>
        </li>

        <li>
                    <a href="#catalogsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Каталоги</a>
                    <ul class="collapse list-unstyled" id="catalogsSubmenu">

                        <li>
                            <a href="/primary">Первичная документация</a>
                        </li>
                        <li>
                            <a href="/license-doc">Лицензии</a>
                        </li>
                        <li>
                            <a href="/license-report-doc">Отчётность НП</a>
                        </li>
                        <li>
                            <a href="/protocol-doc">Протоколы ОЗ</a>
                        </li>
                        <li>
                            <a href="/conclusion-doc">Заключения</a>
                        </li>
                        <li>
                            <a href="/other-doc">Отчёты, карты, архивные материалы</a>
                        </li>
                     </ul>
        </li>


    </ul>



        <!--li>
            <a href="#Reports" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Отчёты</br>
                недропользователей</a>
            <ul class="collapse list-unstyled" id="Reports">
                <li>
                    <a href="/registrations?docType=LICENSE_REPORT&state=0">Список отчётов</a>
                </li>
                <li>
                    <a href="/chem-templates">Шаблоны хим. анализа</a>
                </li>
            </ul>
        </li-->


    </nav>
  </body>
</html>